@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Ezfood Management</h1>
    <p><a href="@ViewData["XeroAuthorizeUrl"]">Login to Xero</a>.</p>
</div>
